{% extends "network/layout.html" %}

{% block body %}
    <div class="d-flex justify-content-start flex-column">
    <h2>All Posts</h2>
    <!-- add post -->
    {% if user.is_authenticated %}
        <div class="card p-3">
        <h3>Add Post</h3>
            <form action="{% url 'add_post' %}" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Post">
                </div>
            </form>
        </div>
    {% endif %}

    <!-- all posts -->
    {% include "network/posts.html" %}    

    </div>
{% endblock %}

