<!-- posts -->
{% for post in page_obj %}
    <div class='card p-3'>
        <div class="card-body" id='post-view'>
            <a href="{% url 'get_user' post.user.id %}">
                <h4 class='card-title'>{{ post.user }}</h4>
            </a>
            <p class='card-text'>{{ post.content }}</p>
            <p class='card-subtitle mb-2 text-muted' id='like-count'>&#10084;&#65039; {{ post.likes.count }}</p>

            <!-- post timestamp -->
            {% if post.created == post.modified %}
                <p class='card-subtitle mb-2 text-muted'>Created at: {{ post.created }}</p>
            {% else %}
                <p class='card-subtitle mb-2 text-muted'>Modified at: {{ post.modified }}</p>
            {% endif %}

            <!-- buttons -->
            <label class='btn btn-danger' id='like' type='button' data-post={{ post.id }}>Like</label>
            {% if post.user == request.user %}
                <label id='edit' class='btn btn-primary' data-post={{ post.id }}>Edit</label>
            {% endif %}
        </div>

    <!-- compose view -->
        <div id='compose-view'>
            <form id='compose-form'>
                <h4 class='card-title'>{{ post.user }}</h4>
                <textarea class='form-control' id='compose-body'>{{ post.content }}</textarea>
                <input type='submit' class='btn btn-secondary' id='submit-btn'/>
                <button type='button' id='undo' class='btn btn-secondary'>Undo</button>
            </form>
        </div>
    </div> 
{% endfor %}

<!-- page navigation -->
<nav>
    {% if page_obj.has_other_pages %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class='page-item'>
                <a class='page-link' href="?page={{ page_obj.previous_page_number }}">&laquo;Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
               <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;Previous</a>
            </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class=" page-item active" aria-current='page'>
                <a class='page-link' href="?page={{ i }}">
                    <span>{{ i }} <span class="sr-only">(current)</span></span>
                </a>
            </li>
        {% else %}
            <li class='page-item'>
                <a class='page-link' href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class='page-item'>
            <a class='page-link' href="?page={{ page_obj.next_page_number }}">&raquo;Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&raquo;Next</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

{% load static %}
{% block script %}
    <script src='{% static "network/posts.js" %}'></script>
{% endblock %}