{% extends "network/layout.html" %}

{% block body %}
    <div class='card-columns'>
    <div class='card p-4 m-2'>
        <div class='card-body'>
            <h3 class='card-title'>@{{ user.username }}</h3>
            
            {% if not is_self %}
                <form method='POST' action="{% url 'follow_user' user.id %}">
                {% csrf_token %}
                {% if follow_btn %}
                    <input class='btn btn-secondary' type='submit' value='Follow' />
                {% else %}
                    <input class='btn btn-secondary' type='submit' value='Unfollow' />
                {% endif %}
            {% endif %}

            <p>{{ n_followers }} Followers</p>
            <p>{{ n_following}} Following</p>
            <p>{{ posts.count }} Posts</p>
        </div>
    </div>
    
    <div class='card'>
        <h4 class='card-title'>Posts</h4>
        {% include "network/posts.html" %}    
    </div>
    </div>

{% endblock %}